

     *{
      box-sizing: border-box; }
/* }@media only screen and (max-width: 1440px), ( min-width:375px){ */
body,html{  
    display: flex;
    flex-flow: wrap ;
    margin: 0 auto;
    padding: 1px;
    Font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color:  hsl(208, 11%, 55%);
    background-color: rgb(240, 240, 240);
    height: 100vh;


}
 #main{
    display: flex;
    flex-direction: column;

}
main>.container{
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 700px;
    
   background-size:1366px;
    background-color: hsl(193, 100%, 96%);
    padding: 0px 100px 0 100px;
}
 header{
    padding: 1px;
    margin-top: 40px;
}
.huddle{
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.logo{
    max-width: 150px;
    text-decoration-color: black;

}
.button{
    background-color:white;
    border-radius: 25px ;
    font-family:  'Open Sans', sans-serif;
    border: none;
    font-weight: 800;                                   
    font-size: 15px;    
    width: 200px;
    height: 45px;
    text-align: center;
    text-decoration: none;                                                                                              
    cursor: pointer;
    color:hsl(193, 92%, 14%);
    box-shadow:0 5px 1px 0 rgba(209, 209, 209, 0.226) ;                                                                                                                            
   }
   .button:hover{
    opacity: 0.9;
    }
   .buttons:hover{
    opacity: 0.7;
   }
   .buttons-3:hover{
    opacity: 0.7;
   }

   #Home{

    margin-top: 65px;
   }
   .tab{
    display: flex;
    justify-content: space-around;
   }
   .mockup{
    max-width: 670px;
    height: auto;
    margin-left:30px;
    
 
   
 
   }
   .build{
  
    padding-top:60px;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
   }
   .head{
    color: hsl(192, 100%, 9%)   ;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding-right: 1px;
   }
   .detail{
    font-size: 15px;
    font-weight: 600;
    color: hsl(192, 84%, 20%);

   }
   .buttons{
    background-color:hsl(322, 100%, 66%);
    border-radius: 25px ;
    font-family:  'Open Sans', sans-serif;
    border: none;
    font-weight: 700;                                   
    font-size: 13px;    
    width: 270px;
    height: 45px;
    text-align: center;
    text-decoration: none;                                                                                              
    cursor: pointer;
    color:white;
    box-shadow:0 1px 1px 1px rgba(56, 51, 51, 0.226) ;   
    margin-top: 30px;
}



 main>.contain{
    margin: 140px 120px 50px 120px;
    background-color:rgb(240, 240, 240);
    max-height: 1440px;
}
  .col{
    
    border-radius: 15px;
    background-color: rgb(242, 242, 242);
    max-width: 100%;
    max-height: 350px;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgb(223, 223, 223);
    
  }
  .col-1, .col-2{
    margin-top: 30px;
    display: flex;
    border-radius: 15px;
    background-color: rgb(242, 242, 242);
    max-width: 100%;
    max-height: 350px;
    box-shadow: 1px 1px 10px 1px rgb(223, 223, 223);
}
  .img{
    max-width: 350px;
    margin: 30px 20px 28px 0;

  }
  .img-2{
    max-width: 350px;
    margin: 40px 20px 50px 0;
  }
.img-1{
    max-width: 350px;
    margin: 60px 120px 50px 120px;
}
  .content{
    margin: 100px 120px 0px 120px;
  }
  .content-1{
    margin: 95px 20px 0 0px;
  }
  .content-2{
    margin: 95px 120px 0px 120px;
  }
.head-1, .head-2,.head-3, .head-4{
    color: hsl(192, 82%, 13%)   ;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 700; 
}

    .details{
    margin-top: -12px;
    font-size: 15px;
    font-weight: 400;
    padding-right: 70px;
}
.details-1{
    margin-top: -12px;
    font-size: 15px;
    font-weight: 400;
    padding-right: 60px;
}
.details-2{
    margin-top: -12px;
    font-size: 15px;
    font-weight: 400;
    padding-right: 90px;
}

.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(242, 242, 242);
    max-width: 100%;
    max-height: auto;
    box-shadow: 1px 1px 10px 1px rgb(223, 223, 223);
    height: 250px;
    width: 800px;
    border-radius: 15px;
   margin: 140px ;
    opacity: 0.98;

}
.head-4{
    margin: auto;
    padding-left: 20px;
    font-size: 25px;
}
.buttons-3{
    background-color:hsl(322, 100%, 66%);
    border-radius: 50px ;
    font-family:  'Open Sans', sans-serif;
    border: none;
    font-weight: 700;                                   
    font-size: 18px;    
    width: 400px;
    height: 70px;
    text-align: center;
    text-decoration: none;                                                                                              
    cursor: pointer;
    color:white;
    box-shadow:0 1px 1px 1px rgba(56, 51, 51, 0.226) ;   
    margin: 1px 60px 1px 80px;  
}

.footer-container{
    background-color: hsl(192, 100%, 9%);
    max-width: 100%;
    margin: -80px 0 0 0;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 155px 180px 150px 120px;   
}
.footer-heading footer-1{
    margin: 1px;
}
.icon{
    margin: 5px 0 0 0;
    height: 20px;
    display: flex;
    flex-direction: column;
}
.super{
    display: flex;
    margin: 30px 0 0 0;
}
.word-1{
margin: 1px 0 0 25px ;
font-size: 14px;
font-weight: 5004;
color:  hsl(212, 13%, 74%);

}
.word-2, .word-3{
    margin: 1px 0 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: hsl(212, 13%, 74%);
}
.footer-heading footer-2,.footer-heading footer-3, .footer-heading footer-4{
    margin: 0 0 0 0;
}
.foot{
    margin: 70px 0px 0 0;
}
.foot-2{
    margin: 70px 0px 0 0;
}
.foot-3{
    margin: 70px 0px 0 0;
}
.career, .about{
    margin: 20px 0 0 0;
    color:hsl(212, 13%, 74%);
    font-size: 18px;
    font-weight: 500;
}
.icons{
    height: 30px;
    margin: 0 15px 0 0;
}
.copy{
       color: hsl(212, 13%, 74%);
       font-size: 13px;
       position: relative;
       bottom: 80px
} 
.close{
    margin: 0 0 0 1020px;
} 



 