  body{
    Font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color:  hsl(208, 11%, 55%);
    text-align: center;
}

 .containers {
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
   margin:0 auto;
   width: 1366px;
   
    
    
    
 }
  .containers *{
    background: rgb(117, 189, 189);
    
    
  }
  .header{
    grid-column: 1/12;
    grid-row: 1/6;
  }
  .main{
    grid-column: 1/12;
    grid-row: 6/14;
  }
  .footer{
    grid-column:1/12 ;
    grid-row: 14/17;
  }

